body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #fdf9f6;
  color: #333;
  margin: 0;
  padding: 0;
}

.contact-photo {
  text-align: center;
  padding: 60px 20px;
  background-color: #f7f2ee;
  color: #333;
}

.contact-photo h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #222;
}

.contact-photo p {
  font-size: 1rem;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

.contact-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Ajouté pour aligner les éléments verticalement */
}

.contact-image-wrapper img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  object-position: 40% 10%;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.contact-description {
  text-align: center;
  margin-bottom: 20px;
}
